@using EtendueERP.Models.SageAPI
@using Microsoft.EntityFrameworkCore
@using Data
@inject DialogService DialogService
@using AntDesign
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager UriHelper

<RadzenContent Container="main">
    <Tabs DefaultActiveKey="0" Type="@TabType.EditableCard" HideAdd @bind-ActiveKey="activekey">
        <TabPane Key="0" Tab="@Title" Closable="false">
            <RadzenAccordion>
                <Items>
                    <RadzenAccordionItem Text="Filtrer" Icon="filter_list_alt">
                        <GridRow>
                        <GridCol Xs="24" Md="3" class="ant-form-item-label">Recherche</GridCol>
                        <GridCol Xs="24" Md="7"><Input Size="@AntSizeLDSType.Small" Style="Width: 100%;" @oninput="@(args => OnInput(args.Value.ToString()))" @bind-Value="@vl_text" /></GridCol>
                        <GridCol Xs="24" Md="3" class="ant-form-item-label">Etat Solde</GridCol>
                        <GridCol Xs="24" Md="4">
                                            <Select Size="@AntSizeLDSType.Small" OnSelectedItemChanged="UpdateGrid" TItem="short?" TItemValue="short?" @bind-Value="@vl_solde">
                                <SelectOptions>
                                    <SelectOption TItem="short?" TItemValue="short?" Value="0" Label="   Tout" />
                                    <SelectOption TItem="short?" TItemValue="short?" Value="1" Label="Soldé" />
                                    <SelectOption TItem="short?" TItemValue="short?" Value="2" Label="Non soldé" />
                                </SelectOptions>
                            </Select>
                        </GridCol>
                        <GridCol Xs="24" Md="3" class="ant-form-item-label">Sommeil</GridCol>
                        <GridCol Xs="24" Md="4">
                                            <Select Size="@AntSizeLDSType.Small" OnSelectedItemChanged="UpdateGrid" TItem="short?" TItemValue="short?" @bind-Value="@vl_sommeil">
                                <SelectOptions>
                                    <SelectOption TItem="short?" TItemValue="short?" Value="0" Label="   Tout" />
                                    <SelectOption TItem="short?" TItemValue="short?" Value="1" Label="Actif" />
                                    <SelectOption TItem="short?" TItemValue="short?" Value="2" Label="En sommeil" />
                                </SelectOptions>
                            </Select>
                        </GridCol>
                    </GridRow>
                    </RadzenAccordionItem>
                </Items>
            </RadzenAccordion>
            <Table Loading="_loading" TItem="API_V_COMPTET" Context="context" DataSource="@items" PageSize="40" Responsive OnRowClick="args=>RowClicked(args.Data)">
                            <PropertyColumn Property="a=>a.CT_Num" Title="Numéro"  Hidden="@(!CTNum)" ></PropertyColumn>
                            <PropertyColumn Property="a=>a.CT_Ville" Title="Ville"  Hidden="@(!CTVille)"></PropertyColumn>
                            <PropertyColumn Property="a=>a.CT_Intitule" Title="Intitule" Width="250px" Hidden="@(!CTIntitule)"></PropertyColumn>
                            <PropertyColumn Property="a=>a.CT_Adresse" Title="Adresse" Hidden="@(!CTAdresse)"></PropertyColumn>
                            <PropertyColumn Property="a=>a.CT_Telephone" Title="Téléphone"  Hidden="@(!CTTelephone)"></PropertyColumn>
                            <PropertyColumn Property="a=>a.CT_EMail" Title="Email" Hidden="@(!CTEMail)"></PropertyColumn>
                            <PropertyColumn Property="a=>a.DL_MontantHT" Title="CA HT"  Hidden="@(!DLMontantHT)" Format="### ### ##0.00" Align="ColumnAlign.Right"></PropertyColumn>
                            <PropertyColumn Property="a=>a.DL_MontantTTC" Title="CA TTC"  Hidden="@(!DLMontantTTC)" Format="### ### ##0.00" Align="ColumnAlign.Right"></PropertyColumn>
                            <PropertyColumn Property="a=>a.DL_DateBL" Title="Der. Activité"  Hidden="@(!DLDateBL)" Format="dd/MM/yyyy" Align="ColumnAlign.Right"></PropertyColumn>
                            <PropertyColumn Property="a=>a.DelaiSommeil" Title="Durée Inactivité"  Hidden="@(!DelaiSommeil)" Format="### ### ##0.00" Align="ColumnAlign.Right"></PropertyColumn>
                            <PropertyColumn Property="a=>a.Taux" Title="%"  Hidden="@(!Taux)" Format="### ### ##0.00" Align="ColumnAlign.Right"></PropertyColumn>
                            <PropertyColumn Property="a=>a.NbrArticles" Title="Nbr Articles"  Hidden="@(!NbrArticles)" Format="### ### ##0.00" Align="ColumnAlign.Right"></PropertyColumn>
                            <PropertyColumn Property="a=>a.NbrDocuments" Title="Nbr Documents"  Hidden="@(!NbrDocuments)" Format="### ### ##0.00" Align="ColumnAlign.Right"></PropertyColumn>
                            <PropertyColumn Property="a=>a.RG_Montant" Title="Total Réglements"  Hidden="@(!RGMontant)" Format="### ### ##0.00" Align="ColumnAlign.Right" />
                            <PropertyColumn Property="a=>a.SoldeCommercial" Title="Solde Commercial"  Hidden="@(!SoldeCommercial)" Format="### ### ##0.00" Align="ColumnAlign.Right"></PropertyColumn>
                            <PropertyColumn Property="a=>a.SoldeComptable" Title="Solde Comptable"  Hidden="@(!SoldeComptable)" Format="### ### ##0.00" Align="ColumnAlign.Right">
                            </PropertyColumn>
                        </Table>
        </TabPane>
        @if(rows != null) 
        {
            foreach (API_V_COMPTET row in rows) {
                <TabPane Key="@row.cbMarq.ToString()" Tab="@row.CT_Intitule" Closable="true">
                    <TiersFiche row="@row" />
                </TabPane>
            }
        }
    </Tabs>
</RadzenContent>



@code
{

    //Parameters
    [Parameter] public ICollection<API_V_COMPTET> data { get; set; }
    [Parameter] public bool CTNum { get; set; } = true;
    [Parameter] public bool CTIntitule { get; set; } = true;
    [Parameter] public bool CTAdresse { get; set; } = true;
    [Parameter] public bool CTVille { get; set; } = true;
    [Parameter] public bool CTEMail { get; set; } = true;
    [Parameter] public bool CTTelephone { get; set; } = true;
    [Parameter] public bool DLMontantHT { get; set; } = true;
    [Parameter] public bool DLMontantTTC { get; set; } = true;
    [Parameter] public bool Taux { get; set; } = true;
    [Parameter] public bool NbrDocuments { get; set; } = true;
    [Parameter] public bool NbrArticles { get; set; } = true;
    [Parameter] public bool RGMontant { get; set; } = true;
    [Parameter] public bool SoldeCommercial { get; set; } = true;
    [Parameter] public bool SoldeComptable { get; set; } = true;
    [Parameter] public bool DLDateBL { get; set; } = true;
    [Parameter] public bool DelaiSommeil { get; set; } = true;
    [Parameter] public int CT_Type { get; set; } = 0;
    [Parameter] public string Title { get; set; } = "";
    //End Parameters



    SageAPIContext db = new SageAPIContext();
    string vl_text;
    short? vl_solde = 0;
    short? vl_sommeil = 0;
    private ICollection<API_V_COMPTET> items;
    List<API_V_COMPTET> rows = new List<API_V_COMPTET>();
    string activekey = "0";
    bool _loading = true;


    protected override async Task OnInitializedAsync()
    {
        await Task.Run(LoadData);
    }
    private async Task LoadData()
    {
        _loading = true;
        await Task.Delay(1);
        if (data == null)
        {
            data = db.API_V_COMPTET.Where(a => a.CT_Type == CT_Type).OrderBy(a => a.CT_Intitule).ToList();
        }
        items = data;
        _loading = false;
        await Task.Delay(1);
    }

    protected async Task RowClicked(API_V_COMPTET args)
    {
        rows.Add(args);
        activekey = args.cbMarq.ToString();
    }
    void OnInput(string value)
    {
        UpdateGrid();
        items = items.Where(a => a.CT_Num.ToUpper().Contains(value.ToUpper()) || a.CT_Intitule.ToUpper().Contains(value.ToUpper())).ToList();
    }
    void UpdateGrid()
    {
        items = data;

        if (vl_solde == 1)
        {
            items = items.Where(a => a.SoldeCommercial == 0).ToList();
        }
        else if(vl_solde == 2) {
            items = items.Where(a => a.SoldeCommercial != 0).ToList();
        }

        if (vl_sommeil == 1)
        {
            items = items.Where(a => a.CT_Sommeil == 0).ToList();
        }
        else if (vl_sommeil == 2)
        {
            items = items.Where(a => a.CT_Sommeil == 1).ToList();
        }
    }



}