@page "/clients/{CT_Num}"

@using EtendueERP.Models.SageAPI
@using Microsoft.EntityFrameworkCore
@using Data
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using EtendueERP.Pages.Components.Documents
@using EtendueERP.Pages.Components.Tiers
@using AntDesign
@if (@row == null)
{
     <div class="spin-center">
        <Spin size="large" />
    </div>
}
else 
{
    <div>
        <GridRow>
            <GridCol Xs="24" Md="24">
                <Form Model="@row" Size="@AntSizeLDSType.Small" Layout="@FormLayout.Horizontal" LabelColSpan="6">
                    <RadzenTabs>
                        <Tabs>
                            <RadzenTabsItem Text="Accueil">
                            <GridRow>
                                    <GridCol Xs="24" Md="12">
                                        <Card>
                                            <FormItem Label="Intitulé" LabelColSpan="4">
                                                <Input @bind-Value="@row.CT_Intitule"/>
                                            </FormItem>
                                            <FormItem Label="Numéro" LabelColSpan="4">
                                                    <Input @bind-Value="@row.CT_Num" />
                                            </FormItem>
                                            <FormItem Label="Ville" LabelColSpan="4">
                                                <Input @bind-Value="@row.CT_Ville" />
                                            </FormItem>
                                        </Card>
                                    </GridCol>
                                    <GridCol Xs="24" Md="12">
                                        <Card>
                                             <FormItem Label="Adresse" LabelColSpan="4">
                                                <Input @bind-Value="@row.CT_Adresse" />
                                            </FormItem>
                                            <FormItem Label="Téléphone" LabelColSpan="4">
                                                <Input @bind-Value="@row.CT_Telephone" />
                                            </FormItem>
                                            <FormItem Label="Email" LabelColSpan="4">
                                                <Input @bind-Value="@row.CT_EMail" />
                                            </FormItem>
                                        </Card>
                                    </GridCol>
                                    <Divider />
                                    <GridCol Xs="24" Md="3">
                                        <Statistic Class="ant-card" Title="CA HT" Value="@((row.DL_MontantHT ?? 0).ToString("### ### ### ##0.00"))" ValueStyle="color: #3f8600 ;"  Suffix="DH" />
                                    </GridCol>
                                    <GridCol Xs="24" Md="3">
                                        <Statistic Class="ant-card" Title="CA TTC" Value="@((row.DL_MontantTTC ?? 0).ToString("### ### ### ##0.00"))" ValueStyle="color: #3f8600;"  Suffix="DH" />
                                    </GridCol>
                                    <GridCol Xs="24" Md="3">
                                        <Statistic Class="ant-card" Title="Nombre Documents" Value="@((row.NbrArticles ?? 0).ToString("### ### ### ##0.00"))" ValueStyle="color: #3f8600;" Precision="0" />
                                    </GridCol>
                                    <GridCol Xs="24" Md="3">
                                        <Statistic Class="ant-card" Title="Nombre Articles" Value="@((row.NbrArticles ?? 0).ToString("### ### ### ##0.00"))" ValueStyle="color: #3f8600;" Precision="0" />
                                    </GridCol>
                                    <Divider />
                                    <GridCol Xs="24" Md="12">
                                        <Card title="Top 10 articles">
                                          <Table Context="best" HidePagination
                                       TItem="V_TOPMVT"
                                       DataSource="@bestof">
                                            <PropertyColumn Property="a=>a.AR_Ref" Sortable="false" Title="Référence" />
                                            <PropertyColumn Property="a=>a.AR_Design" Sortable="false" Title="Désignation" />
                                            <PropertyColumn Property="a=>a.DL_Qte" Sortable="false" Title="Qté" Format="### ### ##0.00" Align="ColumnAlign.Right" />
                                            <PropertyColumn Property="a=>a.DL_MontantHT" Sortable="false" Title="CA HT" Format="### ### ##0.00" Align="ColumnAlign.Right" />
                                            <PropertyColumn Property="a=>a.DL_MontantTTC" Sortable="false" Title="CA TTC" Format="### ### ##0.00" Align="ColumnAlign.Right" />

                                        </Table>
                                       </Card>

                                    </GridCol>
                                    <GridCol Xs="24" Md="12">
                                        <Card title="Top 10 articles">
                                            <Table Context="best" HidePagination
                                       TItem="V_TOPMVT"
                                       DataSource="@bestof">
                                            <PropertyColumn Property="a=>a.AR_Ref" Sortable="false" Title="Référence" />
                                            <PropertyColumn Property="a=>a.AR_Design" Sortable="false" Title="Désignation" />
                                            <PropertyColumn Property="a=>a.DL_Qte" Sortable="false" Title="Qté" Format="### ### ##0.00" Align="ColumnAlign.Right" />
                                            <PropertyColumn Property="a=>a.DL_MontantHT" Sortable="false" Title="CA HT" Format="### ### ##0.00" Align="ColumnAlign.Right" />
                                            <PropertyColumn Property="a=>a.DL_MontantTTC" Sortable="false" Title="CA TTC" Format="### ### ##0.00" Align="ColumnAlign.Right" />

                                        </Table>
                                        </Card>

                                    </GridCol>

                                </GridRow>
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Coordonnées">


                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Tarifs">

                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Solvabilité">
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Documents">
                                <GridRow>
                                    <GridCol Xs="24" Md="24">
                                        <DocLigne CT_Num="@row.CT_Num" Page="14"
                                          DEIntitule="false" ARRef="false"
                                          DLDesign="false" DLTaxe1="false" TypeIntitule="true"
                                          DLDateBL="false" />
                                    </GridCol>
                                </GridRow>
                            </RadzenTabsItem>
                        </Tabs>

                    </RadzenTabs>
                </Form>

            </GridCol>

        </GridRow>
    </div>
}




@code {
    [Parameter] public V_COMPTET row { get; set; }
    [Parameter] public string type { get; set; }
    //[Parameter] public string CT_Num { get; set; }
    SageAPIContext db = new SageAPIContext();
    //V_COMPTET row;
    ICollection<V_TOPMVT> bestof;


    private void LoadData()
    {
        bestof = db.V_TOPMVT.Where(a => a.CT_Num == row.CT_Num).OrderByDescending(a => a.DL_MontantTTC).Take(10).ToList();
    }

    protected override void OnInitialized()
    {
        LoadData();
    }
}