@using EtendueERP.Models.SageAPI
@using Microsoft.EntityFrameworkCore
@using Data
@inject DialogService DialogService
@using AntDesign

<RadzenContent Container="main">
    <Tabs DefaultActiveKey="0" Type="@TabType.EditableCard" HideAdd @bind-ActiveKey="activekey">
        <TabPane Key="0"  Tab="LISTE DES ARTICLES" Closable="false">
            <Collapse>
                <Panel Header="Filtrer" Key="1">
                     <GridRow>
                        <GridCol Xs="24" Md="2" Sm="4" class="ant-form-item-label">Recherche</GridCol>
                        <GridCol Xs="24" Md="7" Sm="14"><Input Size="@AntSizeLDSType.Small" Style="Width: 100%;" @oninput="@(args => OnInput(args.Value.ToString()))" @bind-Value="@vl_text" /></GridCol>
                        <GridCol Xs="24" Md="2" Sm="4" class="ant-form-item-label">Famille</GridCol>
                        <GridCol Xs="24" Md="3" Sm="6">
                            <Select Size="@AntSizeLDSType.Small" OnSelectedItemChanged="UpdateGrid" @bind-Value="@vl_famille" DataSource="@familles" TItem="F_FAMILLE" TItemValue="string" ValueName="@nameof(F_FAMILLE.FA_CodeFamille)" LabelName="@nameof(F_FAMILLE.FA_Intitule)" />
                         </GridCol>
                        <GridCol Xs="24" Md="2" Sm="4" class="ant-form-item-label">Unité</GridCol>
                         <GridCol Xs="24" Md="3" Sm="6">
                            <Select Size="@AntSizeLDSType.Small" OnSelectedItemChanged="UpdateGrid" @bind-Value="@vl_unite" DataSource="@unites" TItem="P_UNITE" TItemValue="short?" ValueName="@nameof(P_UNITE.cbMarq)" LabelName="@nameof(P_UNITE.U_Intitule)" />
                         </GridCol>
                        <GridCol Xs="24" Md="2" Sm="4" class="ant-form-item-label">Etat de stock</GridCol>
                         <GridCol Xs="24" Md="3" Sm="6">
                            <Select Size="@AntSizeLDSType.Small" OnSelectedItemChanged="UpdateGrid" TItem="short?" TItemValue="short?" @bind-Value="@vl_stock">
                                <SelectOptions>
                                    <SelectOption TItem="short?" TItemValue="short?" Value="0" Label="   Tout"/>
                                    <SelectOption TItem="short?" TItemValue="short?" Value="1" Label="En stock"/>
                                    <SelectOption TItem="short?" TItemValue="short?" Value="2" Label="Epuisé" />
                                </SelectOptions>
                            </Select>
                         </GridCol>
                      </GridRow>
                </Panel>
            </Collapse>
            @if (@items == null)
            {
             <div class="spin-center">
                <Spin size="large" />
            </div>
            }
            else
            {
                <Table PageSize="40" Responsive OnRowClick="args=>RowClicked(args.Data)" DataSource="@items" TItem="V_ARTICLE" Context="context">
                        <PropertyColumn Property="a=>a.AR_Ref" Title="Reference" Width="100px" Hidden="@(!ARRef)"></PropertyColumn>
                        <PropertyColumn Property="a=>a.AR_Design" Title="Designation" Width="250px" Hidden="@(!ARDesign)"></PropertyColumn>
                        <PropertyColumn Property="a=>a.U_Intitule" Title="Unite" Width="100px" Hidden="@(!UIntitule)"></PropertyColumn>
                        <PropertyColumn Property="a=>a.FA_CodeFamille" Title="Code Famille" Width="100px" Hidden="@(!FACodeFamille)"></PropertyColumn>
                        <PropertyColumn Property="a=>a.FA_Intitule" Title="Famille" Width="150px" Hidden="@(!FAIntitule)"></PropertyColumn>
                        <PropertyColumn Property="a=>a.SuiviStockIntitule" Title="Suivi Stock" Width="100px" Hidden="@(!SuiviStockIntitule)"></PropertyColumn>
                        <PropertyColumn Property="a=>a.AR_PrixAch" Title="Prix Achat" Width="100px" Hidden="@(!ARPrixAch)" Format="### ### ##0.00" Align="ColumnAlign.Right"></PropertyColumn>
                        <PropertyColumn Property="a=>a.AR_PrixVen" Title="Prix Vente" Width="100px" Hidden="@(!ARPrixVen)" Format="### ### ##0.00" Align="ColumnAlign.Right"></PropertyColumn>
                        <PropertyColumn Property="a=>a.SommeilIntitule" Title="Sommeil" Width="100px" Hidden="@(!SommeilIntitule)"></PropertyColumn>
                        <!--Stock-->
                        <PropertyColumn Property="a=>a.EtatStock" Title="Etat Stock" Width="100px" Hidden="@(!EtatStock)">
                        </PropertyColumn>
                        <PropertyColumn Property="a=>a.AS_QteSto" Title="Qte Stock" Width="100px" Hidden="@(!ASQteSto)" Format="### ### ##0.00" Align="ColumnAlign.Right"></PropertyColumn>
                        <PropertyColumn Property="a=>a.AS_MontSto" Title="Montant Stock" Width="100px" Hidden="@(!ASMontSto)" Format="### ### ##0.00" Align="ColumnAlign.Right">
                        </PropertyColumn>
                        <!--Achats-->
                        <PropertyColumn Property="a=>a.DL_Qte_Achat" Title="Qte Achetee Totale" Width="100px" Hidden="@(!DLQteAchat)" Format="### ### ##0.00" Align="ColumnAlign.Right"></PropertyColumn>
                        <PropertyColumn Property="a=>a.DL_MontantHT_Achat" Title="Achats HT" Width="100px" Hidden="@(!DLMontantHTAchat)" Format="### ### ##0.00" Align="ColumnAlign.Right">

                        </PropertyColumn>
                        <PropertyColumn Property="a=>a.DL_MontantTTC_Achat" Title="Achats TTC" Width="100px" Hidden="@(!DLMontantTTCAchat)" Format="### ### ##0.00" Align="ColumnAlign.Right">
                        </PropertyColumn>
                    <PropertyColumn Property="a=>a.DL_DateBL_Achat" Title="Der. Date Achat" Width="100px" Hidden="@(!DLDateBLAchat)" Format="dd/MM/yyyy"></PropertyColumn>
                        <PropertyColumn Property="a=>a.DL_Dernier_Qte_Achat" Title="Der. Qte Achetee" Width="100px" Hidden="@(!DLDernierQteAchat)" Format="### ### ##0.00" Align="ColumnAlign.Right"></PropertyColumn>
                    <PropertyColumn Property="a=>a.DL_PU_Achat" Title="Der. PU Achat" Width="100px" Hidden="@(!DLPUAchat)" Format="### ### ##0.00" Align="ColumnAlign.Right"></PropertyColumn>
                        <PropertyColumn Property="a=>a.DL_Dernier_MontantHT_Achat" Title="Der. Achat HT" Width="100px" Hidden="@(!DLDernierMontantHTAchat)" Format="### ### ##0.00" Align="ColumnAlign.Right"></PropertyColumn>
                        <PropertyColumn Property="a=>a.DL_Dernier_MontantTTC_Achat" Width="100px" Title="Der. Achat TTC" Hidden="@(!DLDernierMontantTTCAchat)" Format="### ### ##0.00" Align="ColumnAlign.Right"></PropertyColumn>
                        <PropertyColumn Property="a=>a.FR_Intitule" Title="Der. Fournisseur" Width="200px" Hidden="@(!FRIntitule)"></PropertyColumn>
                        <!--Ventes-->
                        <PropertyColumn Property="a=>a.DL_Qte_Vente" Title="Qte Vendues Totale" Width="100px" Hidden="@(!DLQteVente)" Format="### ### ##0.00" Align="ColumnAlign.Right"></PropertyColumn>
                        <PropertyColumn Property="a=>a.DL_MontantHT_Vente" Title="CA HT" Width="100px" Hidden="@(!DLMontantHTVente)" Format="### ### ##0.00" Align="ColumnAlign.Right">
                        </PropertyColumn>
                        <PropertyColumn Property="a=>a.DL_MontantTTC_Vente" Title="CA TTC" Width="100px" Hidden="@(!DLMontantTTCVente)" Format="### ### ##0.00" Align="ColumnAlign.Right">

                        </PropertyColumn>
                        <PropertyColumn Property="a=>a.DL_DateBL_Vente" Title="Der. Date Vente" Width="100px" Hidden="@(!DLDateBLVente)" Format="dd/MM/yyyy"></PropertyColumn>
                        <PropertyColumn Property="a=>a.DL_Dernier_Qte_Vente" Title="Der. Qte Venduee" Width="100px" Hidden="@(!DLDernierQteVente)" Format="### ### ##0.00" Align="ColumnAlign.Right"></PropertyColumn>
                        <PropertyColumn Property="a=>a.DL_PU_Vente" Title="Der. PU Vente" Width="100px" Hidden="@(!DLPUVente)" Format="### ### ##0.00" Align="ColumnAlign.Right"></PropertyColumn>
                        <PropertyColumn Property="a=>a.DL_Dernier_MontantHT_Vente" Title="Der. Vente HT" Width="100px" Hidden="@(!DLDernierMontantHTVente)" Format="### ### ##0.00" Align="ColumnAlign.Right"></PropertyColumn>
                    <PropertyColumn Property="a=>a.DL_Dernier_MontantTTC_Vente" Width="100px" Title="Der. Vente TTC" Hidden="@(!DLDernierMontantTTCVente)" Format="### ### ##0.00" Align="ColumnAlign.Right"></PropertyColumn>
                        <PropertyColumn Property="a=>a.CL_Intitule" Title="Der. Client" Width="200px" Hidden="@(!CLIntitule)"></PropertyColumn>
                </Table>

            }
        </TabPane>
                @if(rows != null) 
        {
            foreach (V_ARTICLE row in rows) {
                <TabPane Key="@row.cbMarq.ToString()" Tab="@row.AR_Design" Closable="true">
                    <ArticlesFiche row="@row" />
                </TabPane>
            }
        }
    </Tabs>
</RadzenContent>



@code
{

    //Parameters
    [Parameter] public ICollection<V_ARTICLE> data { get; set; }
    [Parameter] public bool ARRef { get; set; } = true;
    [Parameter] public bool ARDesign { get; set; } = true;
    [Parameter] public bool FAIntitule { get; set; } = true;
    [Parameter] public bool FACodeFamille { get; set; } = true;
    [Parameter] public bool ARPrixAch { get; set; } = true;
    [Parameter] public bool ARPrixVen { get; set; } = true;
    [Parameter] public bool UIntitule { get; set; } = true;
    [Parameter] public bool DLQteVente { get; set; } = false;
    [Parameter] public bool DLMontantHTVente { get; set; } = false;
    [Parameter] public bool DLMontantTTCVente { get; set; } = false;
    [Parameter] public bool DLQteAchat { get; set; } = false;
    [Parameter] public bool DLMontantHTAchat { get; set; } = false;
    [Parameter] public bool DLMontantTTCAchat { get; set; } = false;
    [Parameter] public bool CLIntitule { get; set; } = false;
    [Parameter] public bool CLNum { get; set; } = false;
    [Parameter] public bool DLDateBLVente { get; set; } = false;
    [Parameter] public bool DLDernierMontantHTVente { get; set; } = false;
    [Parameter] public bool DLDernierMontantTTCVente { get; set; } = false;
    [Parameter] public bool DLPUVente { get; set; } = false;
    [Parameter] public bool DLDernierQteVente { get; set; } = false;
    [Parameter] public bool FRIntitule { get; set; } = false;
    [Parameter] public bool FRNum { get; set; } = false;
    [Parameter] public bool DLDateBLAchat { get; set; } = false;
    [Parameter] public bool DLDernierMontantHTAchat { get; set; } = false;
    [Parameter] public bool DLDernierMontantTTCAchat { get; set; } = false;
    [Parameter] public bool DLPUAchat { get; set; } = false;
    [Parameter] public bool DLDernierQteAchat { get; set; } = false;
    [Parameter] public bool SuiviStockIntitule { get; set; } = true;
    [Parameter] public bool SommeilIntitule { get; set; } = true;
    [Parameter] public bool ASQteSto { get; set; } = true;
    [Parameter] public bool ASMontSto { get; set; } = true;
    [Parameter] public bool EtatStock { get; set; } = true;
    //End Parameters



    SageAPIContext db = new SageAPIContext();
    string vl_text;
    short? vl_unite = 0;
    short? vl_stock = 0;
    private ICollection<V_ARTICLE> items;
    string vl_famille = "";
    ICollection<P_UNITE> unites;
    ICollection<F_FAMILLE> familles;
    List<V_ARTICLE> rows = new List<V_ARTICLE>();
    string activekey = "0";


    protected override async Task OnInitializedAsync()
    {
        await Task.Run(LoadData);
    }
    private void LoadData()
    {
        System.Threading.Thread.Sleep(3000);
        if (data == null)
        {
            data = db.V_ARTICLE.OrderBy(a => a.AR_Design).ToList();
        }
        items = data;

        var un = new P_UNITE();
        un.cbIndice = 0;
        un.U_Intitule = "   Tout";
        unites = db.P_UNITE.Where(a => (a.U_Intitule ?? "") != "").ToList();
        unites.Add(un);
        unites = unites.OrderBy(a => a.U_Intitule).ToList();

        var fa = new F_FAMILLE();
        fa.FA_CodeFamille = "";
        fa.FA_Intitule = "   Tout";
        familles = db.F_FAMILLE.ToList();
        familles.Add(fa);
        familles = familles.OrderBy(a => a.FA_Intitule).ToList();
    }

    protected async Task RowClicked(V_ARTICLE args)
    {
        rows.Add(args);
        activekey = args.cbMarq.ToString();
    }
    void OnInput(string value)
    {
        UpdateGrid();
        items = items.Where(a => a.AR_Design.ToUpper().Contains(value.ToUpper()) || a.AR_Ref.ToUpper().Contains(value.ToUpper())).ToList();
    }
    void UpdateGrid() {
        items = data;
        if((vl_text??"") != "") {
            items = items.Where(a => a.AR_Design.ToUpper().Contains(((vl_text ?? "")).ToUpper()) || a.AR_Ref.ToUpper().Contains(((vl_text ?? "")).ToUpper())).ToList();
        }
        if(vl_unite != 0) {
            items = items.Where(a => a.AR_UniteVen == vl_unite).ToList();
        }
        if(vl_famille != "") {
            items = items.Where(a => a.FA_CodeFamille == vl_famille).ToList();
        }
        if(vl_stock == 1) {
            items = items.Where(a => a.EtatStock == "En stock").ToList();
        }
        else if(vl_stock == 2) {
            items = items.Where(a => a.EtatStock == "Stock épuisé").ToList();
        }
    }



}