@using EtendueERP.Models.SageAPI
@using Microsoft.EntityFrameworkCore
@using Data
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using EtendueERP.Pages.Components
@using AntDesign

<div>
    <GridRow>
        <GridCol Xs="24" Md="24">
            <RadzenButton>Enregistrer</RadzenButton>
            <RadzenButton>Annuler</RadzenButton>
        </GridCol>
    </GridRow>
    <GridRow>
        <GridCol Xs="24" Md="24">
            <Form Model="@row" Size="@AntSizeLDSType.Small" Layout="@FormLayout.Horizontal" LabelColSpan="6">
                <Tabs DefaultActiveKey="1">
                    <TabPane Key="1" Tab="Indentification">
                        <GridRow>
                                <GridCol Xs="24" Md="24">
                                        <FormItem Label="Designation" LabelColSpan="3">
                                            <Input @bind-Value="@row.AR_Design" />
                                        </FormItem>
                                    </GridCol>
                                    <GridCol Xs="24" Md="12">
                                        <FormItem Label="Reference">
                                            <Input @bind-Value="@row.AR_Ref" />
                                        </FormItem>
                                        <FormItem Label="Code barre">
                                            <Input @bind-Value="@row.AR_Ref" />
                                        </FormItem>
                                        <FormItem Label="Famille">
                                            <Select DataSource="@familles" TItem="F_FAMILLE" TItemValue="string" ValueName="@nameof(F_FAMILLE.FA_CodeFamille)" LabelName="@nameof(F_FAMILLE.FA_Intitule)" @bind-Value="@row.FA_CodeFamille" />
                                        </FormItem>
                                        <FormItem Label="Unite">
                                            <Select DataSource="@unites" TItem="P_UNITE" TItemValue="short?" ValueName="@nameof(P_UNITE.cbMarq)" LabelName="@nameof(P_UNITE.U_Intitule)" @bind-Value="@row.AR_UniteVen" />
                                        </FormItem>
                                    </GridCol>
                                    <GridCol Xs="24" Md="12">
                                        <FormItem Label="Suivi de stock">
                                    <Select TItem="short?" TItemValue="short?" @bind-Value="@row.AR_SuiviStock">
                                                <SelectOptions>
                                            <SelectOption TItem="short?" TItemValue="short?" Value="0" Label="Aucun" />
                                                    <SelectOption TItem="short?" TItemValue="short?" Value="1" Label="Serie" />
                                                    <SelectOption TItem="short?" TItemValue="short?" Value="2" Label="CMUP" />
                                                    <SelectOption TItem="short?" TItemValue="short?" Value="3" Label="FIFO" />
                                                    <SelectOption TItem="short?" TItemValue="short?" Value="4" Label="LIFO" />
                                            <SelectOption TItem="short?" TItemValue="short?" Value="5" Label="Lot" />
                                                </SelectOptions>
                                            </Select>
                                        </FormItem>
                                        <FormItem Label="Prix d'achat'">
                                            <AntDesign.InputNumber @bind-Value="@row.AR_PrixAch" />
                                        </FormItem>
                                        <FormItem Label="Prix de vente'">
                                            <AntDesign.InputNumber @bind-Value="@row.AR_PrixVen" />
                                        </FormItem>
                                    </GridCol>
                            </GridRow>
                    </TabPane>
                    <TabPane Key="2" Tab="Tarifs">
                        Tab 2
                    </TabPane>
                    <TabPane Key="3" Tab="Stock">
                        Tab 3
                    </TabPane>
                    <TabPane Key="4" Tab="Achats">
                        <GridRow>
                            <GridCol Xs="24" Md="8">
                                <Statistic Title="Total quantitée achetée" Value="@((row.DL_Qte_Achat ?? 0).ToString("### ### ### ##0.00 DH"))" Precision="2" ValueStyle="color: #3f8600;" Suffix="%"/>
                            </GridCol>
                            <GridCol Xs="24" Md="8">
                                 <FormItem Label="CA Achats HT" LabelColSpan="9">
                                        <Tag Color="#873e23">@((row.DL_MontantHT_Achat ?? 0).ToString("### ### ### ##0.00 DH"))</Tag>
                                </FormItem>
                            </GridCol>
                             <GridCol Xs="24" Md="8">
                                    <FormItem Label="CA Achats TTC" LabelColSpan="9">
                                        <Tag Color="#873e23">@((row.DL_MontantTTC_Achat ?? 0).ToString("### ### ### ##0.00 DH"))</Tag>
                                    </FormItem>
                            </GridCol>
                            <GridCol Xs="24" Md="24">
                                <FormItem Label="Fournisseur" LabelColSpan="3">
                                    <Input @bind-Value="@row.FR_Intitule" />
                                </FormItem>
                            </GridCol>
                            <GridCol Xs="24" Md="12">
                                <FormItem Label="Prix d'achat'">
                                    <AntDesign.InputNumber @bind-Value="@row.AR_PrixAch" />
                                </FormItem>
                                <FormItem Label="Prix de vente'">
                                    <AntDesign.InputNumber @bind-Value="@row.AR_PrixVen" />
                                </FormItem>
                            </GridCol>
                            <GridCol Xs="24" Md="12">
                                <FormItem Label="Prix d'achat'">
                                    <AntDesign.InputNumber @bind-Value="@row.AR_PrixAch" />
                                </FormItem>
                                <FormItem Label="Prix de vente'">
                                    <AntDesign.InputNumber @bind-Value="@row.AR_PrixVen" />
                                </FormItem>
                            </GridCol>
                        </GridRow>
                    </TabPane>
                    <TabPane Key="5" Tab="Ventes">
                        Tab 3
                    </TabPane>
                </Tabs>
            </Form>
            
        </GridCol>

    </GridRow>
</div>



@code {
	    [Parameter] public V_ARTICLE row { get; set; }

    SageAPIContext db = new SageAPIContext();
    ICollection<P_UNITE> unites;
    ICollection<SuiviStock> suivistock;
    ICollection<F_FAMILLE> familles;
    ICollection<F_DOCLIGNE> achats;
    ICollection<F_DOCLIGNE> ventes;

    private class SuiviStock
    {
        public int suivi { get; set; }
        public string intitule { get; set; }
    }

    private void LoadData()
    {
        unites = db.P_UNITE.ToList();
        familles = db.F_FAMILLE.ToList();
    }
    private void LoadAchats()
    {
        achats = db.F_DOCLIGNE.Where(a => a.AR_Ref == row.AR_Ref && a.DO_Domaine == 1).ToList();
    }


    protected override void OnInitialized()
    {
        LoadData();
    }
}